*{
  margin:0;
  padding:0;
  box-sizing: border-box; 
  font-family: san-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background-image: url("./Calculator.jpg");
  } 
table, td, th {
  background-color:#ffffff;  
  color: black; 
  padding: 0 20px 0 25px;
  margin: 0 0px 10px 0px;
  font-size: 30px;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 50%;
  background-color: #1a1a1a;
  cursor: pointer;
}
.i1, .i2 {
  padding: 10px 100px 10px 100px;
  font-size: 20px;
  background-color:#4bd5e7;
  text-align: right;
}